{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./"
        }
      }
    ],
    ["@babel/plugin-transform-modules-commonjs", { "loose": true }]
  ]
}
